@font-face {
    font-family: "Harry P";
    src: local("Harry P"),
      url("./static/fonts/HarryP.TTF") format("truetype");
}

@font-face {
  font-family: "PfefferMediaeval";
  src: local("Pfeffer Mediæval"),
    url("./static/fonts/PfefferMediaeval.otf") format("opentype");
}

